<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/need/header.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/contacto.css">
        <link rel="stylesheet" href="/css/products.css">
        <link rel="stylesheet" href="/css/producto.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <title>Productos | Pakason</title>
    </head>
</head>
<body>

    <div class="contenedor-todo">
    
        <!-- /HeaderNavbar -->
        <%- include('partials/headerNavbar') %>
        <!-- /HeaderNavbar -->
    
        <main class="main">
            <!--poner a todo container-->
            <div class="container">
                <div class="product-container">
                    <!-- div imagen -->
                    <div class="div-imagen">
                        <img src="/img/productos/<%= product.img %>" alt="foto" width="500px" height="450px">
                    </div>
                    <!-- Right Column -->
                    <div class="info-div">
                    
                        <!-- Product Description -->
                        <div class="product-description">
                            <h1><%= product.name %></h1>
                            <p class="descripcion"><%= product.description %></p>
                        </div>
                    
                    
                        <!-- Product Pricing -->
                        <% if(locals.user) {  %> 
                        <div class="precio-producto">
                            <form action="/users/addToCart/" method="POST">
                                <label for="quantity">Cantidad</label>
                                <input class="input-num" type="number" id="quantity" name="quantity" value="1">
                            <span><%= product.price %>$</span>
                            <input type="hidden" name="productId" value="<%=product.id %>">
                            <button type="submit" class="boton-carrito">Añadir al Carrito</button>
                            </form>
                        </div>

                        <% } else { %>
                            <div class="precio-producto">
                                <form action="/users/carrito/" method="POST">
                                    <label for="quantity">Cantidad</label>
                                    <input type="number" id="quantity" name="quantity" value="1">
                                <span><%= product.price %>$</span>
                                <a href="/users/register/" class="boton-carrito">Añadir al Carrito</a>
                                </form>
                            </div>
                        
                        <% } %> 

                        <% if (locals.user&&locals.user.rol==100){%>
                        <div class="dropdown">
                            <button class="dropbtn">Admin</button>
                            <div class="dropdown-content">
                               <form action="/products/delete/<%= product.id %> " method="POST" enctype="multipart/form-data" class="form-out">
                                    <button type="submit" class="submit-cerrar-session">Borrar producto</button>
                                
                                </form>
                                    <button type="submit" class="submit-cerrar-session">
                                        <a href="/products/edit/<%= product.id %>">Editar producto</a>
                                    </button>
                            </div>
                        </div>
                        
                        <%} else {  %> <%}%>
                    </div>
                </div>
                </main>
            </div>
    
        </main>
    </div>
    
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
    
    <script src="/scripts/scripts.js"></script>
    
    </body>
    
    </html>