<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/need/header.css">
        <link rel="stylesheet" href="/css/products.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <title>Productos | Pakason</title>
    </head>
</head>
<body>

<div class="contenedor-todo">

    <!-- /HeaderNavbar -->
    <%- include('partials/headerNavbar') %>
    <!-- /HeaderNavbar -->

    <main class="main">
        <!--poner a todo container-->
        <div class="container">
            <div class="categorias">
                <div class="titulo-logo">
                  <h2 class="titulo_categorias">Categorias</h2>
                  <span class="list-icon"><i class='bx bx-list-ul'></i></span>
                </div>
               <% categories.forEach(function(category){ %>
                   <ul>
                       <li><a href="/products/<%=category.id%>"><%=category.name%></a></li>
                   </ul>

                   <% }) %>
                
                
            </div>

            <!--Productos-->
                <% if (products.length != []) {  %>
                <% products.forEach(product => { %>
               <section class="productos">
                    <div class="product">
                        <div class="imagen">
                            <img src="/img/productos/<%= product.img  %>" alt="" class="imagen">
                        </div>
                        <div class="nombre texto">
                            <span><%= product.name  %></span>
                        </div>
                        <div class="descripcion"><%= product.brand  %></div>
                    <div class="precio texto">$<%= product.price  %></div>
                    <div class="button">
                        <button type="button" name="Agregar a carrito" id="button">
                            <a href="/products/detail/<%= product.id  %>">Ver detalle</a>
                        </button>
                       </div>   
                    </div>            
            </section>
            <% }) %>
            <% }else { %>

                <div class="product"><h2>No hay productos disponibles.</h2></div>

            <% } %> 
           
        </div>

    </main>
</div>

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

<script src="scripts/scripts.js"></script>
<script src="scripts/categorias.js"></script>


</body>
</html>